<aside class="bg-gray-850 w-64 min-h-screen p-4 flex flex-col">
  <div class="flex justify-center" style="margin-bottom: 20%;">
    <a routerLink="/role-home">
      <img src="logo-gym-transparent.png" alt="FunctionFit" class="h-18 w-auto" />
    </a>
  </div>

  <nav class="flex-1">
    <ul class="space-y-2">
      @for (item of menuItems(); track item.route) {
      <li>
        <a [routerLink]="item.route" routerLinkActive="bg-gray-700 text-yellow-300"
          class="flex items-center gap-3 w-full p-3 rounded-lg text-white hover:bg-gray-700 hover:text-yellow-300 transition-colors">
          <i class="fas {{ item.icon }} text-lg flex-shrink-0"></i>
          <span class="text-lg truncate">{{ item.label }}</span>
        </a>
      </li>
      }
    </ul>
  </nav>
</aside>